{% extends 'base.html' %}
{% block titulo_barra %}Buscador{% endblock %}
{% block content %}
<p style="font-size: 15px;">RESULTADOS DE LA BUSQUEDA:</p>
<hr/>
{% for tool in tools %}
<li>
<a href="{{tool.link}}">{{tool.titulo}}</a> --> 
{{tool.descripcion}}
</li>
<br/>
{% endfor %}
{% endblock %}
